################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProjectManagementAPI.csproj
vs/
/bin/
obj/
